
#testimonials {
    width: 100%;
    padding: 80px 100px;
    background-color: #212529;
}

#testimonialTitlesContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}

#testimonialTitles h4 {
    display: inline-block;
    font-size: 1.2rem;
    color: #fff;
    background-color: #f34a04;
    padding: 5px 20px;
    text-transform: capitalize;
    clip-path: polygon(8px 0, calc(100% - 8px) 0%, 100% 100%, 0 100%);
}

#testimonialTitles h2 {
    font-size: 2.3rem;
    color: #fff;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding-bottom: 15px;
}

#testimonialTitles hr {
    color: #f34a04;
    background-color: #ff3c00;
    width: 100px;
    padding: 1px 10px;
}

#testimonialSliderBtn {
    align-self: flex-end;
}

#prevTesti {
    color: #fff;
    padding: 8px 20px;
    background-color: #343a40;
}

#nextTesti {
    color: #fff;
    padding: 8px 20px;
    background-color: #343a40;
    margin-left: 10px;
}

#testimonialSliderBtn span {
    transition: all .4s ease;
}

#testimonialSliderBtn span:hover {
    background-color: #ff3c00;
}

#testimonialContainer {
    width: 100%;
    overflow: hidden;
}

#testimonialContainer .swiper-wrapper .swiper-slide {
    padding: 30px 20px;
    background-color: #111111;
    background-image: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#testimonialContainer .swiper-wrapper .swiper-slide p {
    color: rgb(212, 212, 212);
    line-height: 2rem;
    text-align: center;
}

#testimonialContainer .swiper-wrapper .swiper-slide img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 30px 0;
}

#testimonialContainer .swiper-wrapper .swiper-slide h3 {
    color: #f34a04;
    padding-bottom: 5px;
}

#fiveStarTesti i {
    color: yellow;
}

@media (max-width: 1024px) {
    #testimonials {
        padding: 80px 60px;
    }

    #testimonialTitlesContainer {
        flex-direction: column;
        padding-bottom: 40px;
    }

    #testimonialSliderBtn {
        margin-top: 40px;
    }

    #testimonialTitles h4 {
        font-size: 1rem;
    }
    
    #testimonialTitles h2 {
        font-size: 2rem;
    }
    
    

}

@media (max-width: 600px) {
    #testimonials {
        padding: 80px 30px;
    }

    #testimonialTitles h2 {
        font-size: 1.8rem;
    }

}



